* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

input,
textarea {
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
}

img, iframe {
  max-width: 100%;
}

img, textarea {
  vertical-align: top;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

/***        Base Styles     ***/

.cb {
  clear: both;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.dn {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tj {
  text-align: justify;
}

.italic {
  /* dnel italici font@ */
}

.tu {
  text-transform: uppercase;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.ver-top-box {
  display: inline-block;
  vertical-align: top;
}


/***        Font Size       ***/

.fs12 {
  font-size: 0.750rem;
}

.fs13 {
  font-size: 0.813rem;
}

.fs14 {
  font-size: 0.875rem;
}

.fs16 {
  font-size: 1rem;
}

.fs18 {
  font-size: 1.125rem;
}

.fs20 {
  font-size: 1.250rem;
}

.fs22 {
  font-size: 1.375rem;
}

.fs24 {
  font-size: 1.500rem;
}

.fs26 {
  font-size: 1.625rem;
}

.fs28 {
  font-size: 1.750rem;
}

.fs30 {
  font-size: 1.875rem;
}

.cb,
.clear-fix:after {
  clear: both;
}

.clear-fix:after {
  content: '';
  display: block;
}


.ver-hor-center {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.ver-center {
  bottom: 0;
  left: 0;
  margin: auto 0;
  position: absolute;
  top: 0;
}

.hor-center {
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
}


.sprite-a:after,
.sprite-b:before {
  content: '';
}

.sprite-a:after,
.sprite-b:before,
.sprite {
  background-image: url(../images/sprite.png?v=#{$spriteVersion});
  background-repeat: no-repeat;
}


/* For 2x devices */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 2) {

  .sprite-a:after,
  .sprite-b:before,
  .sprite {
    background-image: url(../images/sprite2x.png?v=#{$spriteVersion});
    background-size: 300px auto;
  }

}

/* For 3x devices */

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 480dpi) {

  .sprite-a:after,
  .sprite-b:before,
  .sprite {
    background-image: url(../images/sprite3x.png?v=#{$spriteVersion});
    background-size: 300px auto;
  }

}

/* For 4x devices */

@media (-webkit-min-device-pixel-ratio: 4), (min-resolution: 640dpi) {

  .sprite-a:after,
  .sprite-b:before,
  .sprite {
    background-image: url(../images/sprite4x.png?v=#{$spriteVersion});
    background-size: 300px auto;
  }

}

.trans-all {
  @include transition-mixin('');
}

.trans-color {
  @include transition-mixin('color');
}

.trans-backgroundColor {
  @include transition-mixin('background-color');
}

.trans-borderColor {
  @include transition-mixin('border-color');
}

.trans-transform {
  @include transition-mixin('transform');
}

.trans-opacity {
  @include transition-mixin('opacity');
}
