@media print {
  body {
    background-color: #fff;
    padding-top: 0;
  }
  .main__about {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .wrapper {
    @include box-shadow(0, 0, 0, 0);
  }
  .print__block,
  .up-button {
    display: none;
    opacity: 0;
  }
  .left-block__item-contacts {
    margin-bottom: 80px;
  }
  .left-block__item {
    padding-top: 8px;
  }
  .right-block__head-block {
    padding-top: 2px;
  }
  .right-block__item {
    margin-bottom: 60px;
  }
}
