@media only screen and (max-width: 991px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 913px) {
  .container {
    width: 100%;
  }

  .wrapper {
    width: 755px;
  }

  .right-block__skills {
    width: 125px;
  }

  .portfolio {
    padding-left: 5px;
    padding-right: 5px;
    width: 219px;
  }
}

@media only screen and (max-width: 900px) {
  .up-button {
    bottom: 13px;
    right: calc(50% - 358px);
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    width: calc(100% - 30px);
  }

  .head {
    &__photo {
      display: block;
      margin: 0 0 15px;
      text-align: center;
    }

    &__image {
      height: 160px;
      width: 160px;
    }

    &__data {
      display: block;
      padding: 0;
      margin: 0 0 25px;
      text-align: center;
    }

    &__link {
      font-size: 24px;
      margin-bottom: 4px;
    }
  }

  .left-block,
  .right-block {
    float: none;
    width: 100%;
  }

  .left-block {
    &__contact {
      text-align: center;

      &-text {
        display: block;
      }

      &-icon {
        margin: 0;
      }

      &-address {
        margin: 0;
      }
    }

    &__icon {
      vertical-align: top;
    }

    &__item-interests {
      text-align: center;
    }
  }

  .right-block {
    padding-left: 15px;

    &__skills {
      width: 100%;
      margin: 0 0 10px !important;
    }
  }

  .portfolio__item {
    &.portfolio__item {
      &_form {
        @include bgi('temp/form-css.jpg');
      }
      &_email {
        @include bgi('temp/email-html.png');
      }
      &_projex {
        @include bgi('temp/projex-css.png');
      }
      &_notify {
        @include bgi('temp/notify-css.png');
      }
      &_waxom {
        @include bgi('temp/waxom-sass.png');
      }
      &_reparin {
        @include bgi('temp/reparin-responsive.png');
      }
      &_game {
        @include bgi('temp/gamegleam-landing.png');
      }
      &_mike {
        @include bgi('temp/mikeregina-bootstrap3.png');
      }
      &_mavent {
        @include bgi('temp/mavent.jpg');
      }
      &_escape {
        @include bgi('temp/escape-bootstrap4.png');
      }
      &_cont {
        @include bgi('temp/continually.png');
      }
      &_owl {
        @include bgi('temp/owl.jpg');
      }
      &_render {
        @include bgi('temp/render.jpg');
      }
      &_teach {
        @include bgi('temp/teach.jpg');
      }
      &_seriea {
        @include bgi('temp/seriea.jpg');
      }
      &_pairs {
        @include bgi('temp/pairs.jpg');
      }
      &_vii {
        @include bgi('temp/vii.jpg');
      }
    }

    &:before {
      opacity: .7;
    }

    .portfolio__icon {
      opacity: 1;
    }
  }

  .portfolio {
    display: block;
    margin: 0 auto 15px;
    max-width: 100%;
    padding: 0;
    width: 420px;

    &__link {
      opacity: 0.7;
    }
  }

  .up-button {
    right: 35px;
  }
}

@media only screen and (max-width: 480px) {
  .portfolio {
    width: 100%;
  }

  .main__block {
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 320px) {
  .wrapper {
    width: 313px;
  }
}
