@media only screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 755px;
  }
  .container {
    width: 100%;
  }
  .right-block__skills-text {
    width: 125px;
  }
  .up-button {
    bottom: 30px;
    right: calc(50% - 358px);
  }
  .print__block {
    text-align: initial;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 0;
  }
  .wrapper {
    width: 100%;
  }
  .head {
    &__photo {
      display: block;
      margin: 0 0 15px;
      text-align: center;
    }
    &__image {
      height: 160px;
      width: 160px;
    }
    &__data {
      display: block;
      padding: 0;
      margin: 0 0 25px;
      text-align: center;
    }
    &__link {
      font-size: 24px;
      margin-bottom: 4px;
    }
  }
  .left-block,
  .right-block {
    float: none;
    width: 100%;
  }
  .left-block {
    &__contact {
      text-align: center;
      &-text {
        text-align: right;
      }
      &-icon {
        margin: 0;
      }
      &-address {
        margin: 0;
      }
    }
    &__icon {
      vertical-align: top;
    }
    &__item-interests {
      text-align: center;
    }
  }
  .right-block {
    padding-left: 15px;
    &__skills-text {
      width: 100%;
      margin: 0 0 10px !important;
    }
  }
  .up-button {
    right: 35px;
  }
}

@media only screen and (max-width: 480px) {
  .main__block {
    margin-bottom: 10px;
  }
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .left-block {
    &__contact {
      &-link,
      &-info {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 100%;
        width: 360px;
      }
    }
    &__icon {
      min-width: 75px;
    }
    &__item-interests {
      text-align: center;
    }
  }
  .right-block {
    padding-left: 5px;
    &__item {
      padding-left: 20px;
    }
    &__foot-date:before {
      left: -24px;
    }
  }
  .up-button {
    right: 15px;
  }
}

